<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".LetterA" />
        <activity android:name=".LetterB" />
        <activity android:name=".LetterV" />
        <activity android:name=".LetterG" />
        <activity android:name=".LetterD" />
        <activity android:name=".LetterE" />
        <activity android:name=".LetterJ" />
        <activity android:name=".LetterZ" />
        <activity android:name=".LetterI" />
        <activity android:name=".LetterIY" />
        <activity android:name=".LetterK" />
        <activity android:name=".LetterL" />
        <activity android:name=".LetterM" />
        <activity android:name=".LetterN" />
        <activity android:name=".LetterO" />
        <activity android:name=".LetterP" />
        <activity android:name=".LetterR" />
        <activity android:name=".LetterS" />
        <activity android:name=".LetterT" />
        <activity android:name=".LetterY" />
        <activity android:name=".LetterF" />
        <activity android:name=".LetterX" />
        <activity android:name=".LetterC" />
        <activity android:name=".LetterChe" />
        <activity android:name=".LetterSha" />
        <activity android:name=".LetterShh" />
        <activity android:name=".LetterNenado" />
        <activity android:name=".LetterTomyagkiyznak" />
        <activity android:name=".LetterEleroniki" />
        <activity android:name=".LetterU" />
        <activity android:name=".LetterYuh" />

    </application>

</manifest>